<mat-toolbar class="footer" #footer>
    <!-- Social Icons -->
    <mat-toolbar-row>
        <button mat-icon-button class="nav-icon" aria-label="email icon">
            <mat-icon>email</mat-icon>
        </button>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <button mat-icon-button class="nav-icon">
            <a
              href="https://github.com/claytoncook12"
              target="_blank"
            >
              <img
                style="height:35px;width:35px"
                class="nav-icon-48" 
                src="../assets/social-icons/icons8/icons8-github-48.png"
                alt="github"
              >
            </a>
        </button>
        <button mat-icon-button class="nav-icon">
            <a
            href="https://github.com/claytoncook12"
            target="_blank"
            >
                <img
                style="height:35px;width:35px"
                class="nav-icon-48" 
                src="../assets/social-icons/icons8/icons8-facebook-48.png"
                alt="facebook"
                >
            </a>
        </button>
        <button mat-icon-button class="nav-icon">            
            <a
            href="https://github.com/claytoncook12"
            target="_blank"
            >
                <img
                style="height:35px;width:35px"
                class="nav-icon-48" 
                src="../assets/social-icons/icons8/icons8-linkedin-48.png"
                alt="linkedin"
                >
            </a>
        </button>
        <button mat-icon-button class="nav-icon">
            <a
            href="https://github.com/claytoncook12"
            target="_blank"
            >
                <img
                style="height:35px;width:35px"
                class="nav-icon-48" 
                src="../assets/social-icons/icons8/icons8-youtube-squared-48.png"
                alt="youtube"
                >
            </a>
          </button>
    </mat-toolbar-row>
    <!-- Copy Rights -->
    <mat-toolbar-row class="footer-row-bottom">
        <span class="toolbar footer-content">Clayton Cook &copy; 2022 </span>
    </mat-toolbar-row>
</mat-toolbar>
