<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink=""><mat-icon>home</mat-icon></a>
      <a mat-list-item href="#" style="pointer-events: none; opacity: 0.5;">Posts</a>
      <a mat-list-item href="#" style="pointer-events: none; opacity: 0.5;">Tags</a>
      <a mat-list-item href="#" style="pointer-events: none; opacity: 0.5;">Categories</a>
      <a mat-list-item routerLink="about">About</a>
      <a mat-list-item href="#" style="pointer-events: none; opacity: 0.5;">Contact</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button mat-button>
        <span>
          <h1>
            Clayton Cook
          </h1>
        </span>
      </button>
      <span class="example-spacer"></span>
      <button mat-icon-button>
        <img src="../assets/social-icons/icons8-github-30.png" alt="github">
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>

    <!-- Add Content Here -->
    <main>
      <router-outlet></router-outlet>
    </main>

  </mat-sidenav-content>
</mat-sidenav-container>
